.advanced-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adv-src-content{
    border: 1px solid rgb(0, 0, 0, 0.4);
}

.filter-by-artist-parent{
    border: 1px solid rgb(0, 0, 0, 0.4);
    padding-bottom: 5px;
}

.adv-src-filter-by-artist-box{
    display: grid;
    max-width: fit-content;
    align-items: center;
}

.adv-src-filter-by-artist-search{
    grid-column: 1;
    grid-row: 1;
    padding: 2px 0 2px 0;
    margin: 0 0 0 5px;
    border-radius: 5px;
}

.adv-src-filter-by-artist-search-icon{
    display: flex;
    grid-column: 1;
    grid-row: 1;
    font-size: 14px;
    padding-right: 2px;
    justify-content: flex-end;
    background-color: transparent;
}

.adv-src-filter-by-artist-search-icon:hover{
    color: rgb(0, 0, 0, 0.4);
}

.adv-src-filter-all{
    padding-top: 5px;
}

.filter-by-date{
    border: 1px solid rgb(0, 0, 0, 0.4);
    padding-bottom: 5px;
}

.filter-by-genre{
    border: 1px solid rgb(0, 0, 0, 0.4);
    padding-bottom: 5px;
}

.adv-src-h2{
    margin-left: 5px;
}

.adv-src-btn{
    margin: 0 5px 0 5px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
}

.adv-src-btn:hover{
    border-color: rgb(255, 255, 255);
}

.adv-src-filter-by-date{
    margin: 0 0 0 5px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
}

.adv-src-date-from-to{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.adv-src-date-from-to-h3{
    font-size: 80%;
    margin: 5px 0 0 5px;
}

.adv-src-result-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 10px;
}

.adv-src-result-box:last-child{
    margin-bottom: 50px;
}

.adv-src-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 150px;
    margin: 0;
    padding: 0;
}

.adv-src-page-btn-box{
    display: flex;
    flex-direction: row;
}

.adv-src-arrow-icons{
    font-size: 48px;
    font-weight: 700;
    color: rgb(0, 0, 0, 0.4);
}

.adv-src-icon-box{
    margin: 5px;
    border: 2px solid rgb(0, 0, 0, 0.4);
    border-radius: 30%;
}

.adv-src-page-btn{
    margin: 5px 2px 5px 2px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0, 0.4);
    font-size: 24px;
    width: 48px;
    border-radius: 30%;
    border: 2px solid rgb(0, 0, 0, 0.4);
    overflow-x: hidden;
}

.adv-src-arrow-icons:hover{
    color: rgb(0, 0, 0, 1);
}

.adv-src-icon-box:hover{
    border: 2px solid rgb(0, 0, 0, 1);
}

.adv-src-page-btn:hover{
    border: 2px solid rgb(0, 0, 0, 1);
    color: rgb(0, 0, 0, 1);
    background-color: white;
}

.adv-src-result-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid rgb(0, 0, 0, 0.4);
    padding: 0 20px 0 20px;
    column-gap: 20px;
    width: 300px;
    height: 100px;
}

.adv-src-p{
    margin: 2px 0 2px 0;
}

.adv-src-result-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100px;
}

.adv-src-no-result{
    display: flex;
    justify-content: center;
    align-items: center;
}