#artist_parent{
    display: flex; 
    flex-direction: column;
}

#artist_content{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-around;
}

#title_background{
    position: absolute;
    height: 75px;
    width: 100%;
    background: rgb(168, 228, 255);
    border: none;
    padding-top: 30px;
}

.title_info{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    margin: 0;
    position: relative;

}

#title_content{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

#title_content>h1{
    margin-bottom: 0;
    margin: 0;
}

#info{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    margin-bottom: 60px

}
#info>p{
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

#like_button{
    position: relative;
    background: transparent;
    border: none;
    font-size: 30px;
    outline: none;
    color: grey;
}

#like-button i:hover{
    cursor: pointer;
}

#line_up{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}


#line_up>p{
    margin: 0;
    padding-left: 15px;
}

#artist_image{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 45vw;
    height: 55vh;
    position: relative;
}

#concert_image{
    background: url("../images/houseconcert.jpg") 50% 50% no-repeat;
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

#concert_content{
    display: flex;
    flex-direction:row;
    padding-left: 10px;
}

#buy_button{
    width: 120px;
    height: 30px;
    background-color: rgb(237, 176, 78);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#buy_button:hover{
    background-color: rgb(247, 204, 118);

}

#stream_button{
    width: 120px;
    height: 30px;
    background-color: rgb(51, 185, 51);
    border-radius: 5px;
    cursor: pointer;
}

#stream_button:hover{
    background-color: rgb(102, 240, 102);

}

.default_button{
    width: fit-content;
    padding: 0;
}

.artist-result-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.artist-result-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid rgb(0, 0, 0, 0.4);
    padding: 0 20px 0 20px;
    column-gap: 20px;
}
.artist-img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100px;
    width: 100px;
}
.artist-result-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100px;
}
.artist-p{
    margin: 2px 0 2px 0;
}

.button_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.concert_box{
    display: flex;
    flex-direction: row;
}

.sample_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.sample_p{
    margin: 2px;
    padding: 0;

}
