.containerBuy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10vh;
  /* height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center; */
}
.leftBuy {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  /* margin-left: 10vw;
  width: 50vh;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "title title title"
    "img main1 info1"
    ". main2 info2"
    ". main3 info3"
    ". main4 info4";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 100px 100px 100px 100px;
  grid-gap: 10px; */
}

.rightBuy {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-content: center;
  margin-right: 10vw;
  width: 50vh;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "main1 info1"
    "main2 info2"
    "main3 info3"
    "main4 main4";
  grid-template-columns: 200px 200px;
  grid-template-rows: 75px 75px 75px 75px;
  grid-gap: 10px;
  justify-content: space-evenly; */
}

.buy-ticket-h1{
  display: flex;
  justify-content: center;
  /* color: rgba(74, 166, 230, 1);
  grid-area: title;
  justify-self: center;
  align-self: center; */
}

.buy-ticket-info-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.buy-ticket-h2-info{
  margin: 0;
  /* color: rgba(36, 93, 165, 1); */
}

.artist-info-container{
  margin-top: 20px;
}
.buy-ticket-h2-artist{
  margin-top: 0;
  align-items: flex-start;
}

.buy-ticket-p{
  color: black;
  margin: 0;
  padding: 0;
}

.buy-ticket-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;

  /* grid-area: img; */
}
.buy-ticket-btn{
  cursor: pointer;
  display: flex;
  background-color: rgba(48, 149, 184, 1);
  color: white;
  padding: 5px;
  font-size: 17px;
  /* font-family: inherit; */
}

.rightBuy-btn{
  display: flex;
  align-self: center;
}

.rightBuy-subContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30px;
}

/* 
.rightBuy > h2 {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2%; 
}

.leftBuy > h2:nth-of-type(1) {
  grid-area: main1;
}
.leftBuy > h2:nth-of-type(2) {
  grid-area: main2;
}
.leftBuy > h2:nth-of-type(3) {
  grid-area: main3;
}
.leftBuy > h2:nth-of-type(4) {
  grid-area: main4;
}

.leftBuy > p:nth-of-type(1) {
  grid-area: info1;
}
.leftBuy > p:nth-of-type(2) {
  grid-area: info2;
}
.leftBuy > p:nth-of-type(3) {
  grid-area: info3;
}
.leftBuy > p:nth-of-type(4) {
  grid-area: info4;
}

.rightBuy > h2:nth-of-type(1) {
  grid-area: main1;
}
.rightBuy > h2:nth-of-type(2) {
  grid-area: info1;
  text-align: center;
}
.rightBuy > h2:nth-of-type(3) {
  grid-area: main2;
}
.rightBuy > h2:nth-of-type(4) {
  grid-area: info2;
  text-align: center;
}
.rightBuy > h2:nth-of-type(5) {
  grid-area: main3;
}
.rightBuy > h2:nth-of-type(6) {
  grid-area: info3;
  text-align: center;
} */
