.containerBuy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 5vh;

}
.leftBuy {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-left: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.rightBuy {
  display: flex;
  flex-direction: column;
  padding-right: 300px;
}

.buy-ticket-h1{
  display: flex;
  justify-content: center;
}

.buy-ticket-info-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2px;
}

.buy-ticket-h2-info{
  margin: 0;
}

.buy-ticket-h2{
  padding: 0;
  margin: 10px;
}

.artist-info-container{
  margin-top: 20px;
}
.buy-ticket-h2-artist{
  margin-top: 0;
  align-items: flex-start;
}

.buy-ticket-p{
  color: black;
  margin: 0;
  padding: 0;
}

.buy-ticket-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}
.buy-ticket-btn{
  cursor: pointer;
  display: flex;
  background-color: rgba(48, 149, 184, 1);
  color: white;
  padding: 5px;
  font-size: 17px;
  /* font-family: inherit; */
}

.rightBuy-btn{
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  align-items: center;
  row-gap: 10px;
}

.rightBuy-subContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30px;
}

.left-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  padding-right: 300px

}