body{
    background-color: white;
}

button{
    color: white;
    background-color: rgba(74, 166, 230, 1);
}

p{
    color: black;
}

h1{
    color: rgba(74, 166, 230, 1);
}

h2{
    color: rgba(36, 93, 165, 1);
}

h3{
    color: rgba(36, 93, 165, 1);
}

/* 
tags background Color: White
tags text Color: Black
tags border Color: Black
*/
input{
    background-color: white;
    color: black;
    /* input field place holder text Color: Grey */
}

a{
    Color: rgba(48, 149, 184, 1);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;

}

header{
    Color: rgba(62, 141, 168, 1);
}

header>h1{
    color: white;
}
header>h2{
    color: white;
}

header>button{
    background-color: rgba(0, 88, 169, 1);
    color: white;
    border-color: white;
}

header>a{
    color: rgba(0, 88, 169, 1) ;
    border-color: Black;
    
}
header>a:hover{
    text-decoration: none;
}

button:hover{
    background-color: rgba(48, 149, 184, 1);
    color: black;
}

/* .global-icons{
    background-color: rgba(48, 149, 184, 1);
    color: black;
}

.global-icons:hover{
   
    color: goldenrod;
} */

span{

    color: black;
}

span:hover{
   
    color: goldenrod;
}