div>#profile-edit{
    justify-content: center;
}

.edit-page{
    display:flex;
    flex-direction:column;
    align-items: center;
    row-gap: 10px;
}

.edit-buttons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    
}