div{
    justify-content: center;
}

.edit-page{
    display:flex;
    flex-direction:column;
    align-items: center;
    row-gap: 10px;
}

.buttons{
    margin-top: 10px;
    display: flex;
    align-items:;
    flex-direction: column;
    row-gap: 10px;
}

.signup-btn{
    background-color: rgb(74, 166, 230, 1);
    color: white;
    border: none;
    border-radius: 5px;
}

.link{
    color: rgba(23, 62, 129, 1);
    text-decoration: none;
    
}