.box-color{
    border: 1px solid black;
  }

  .topnav {
    position:fixed;
    overflow: hidden;
    padding: 10px 20px;
    background-color: rgba(48, 149, 184, 1);
    width: 100%;
    max-height: 100px;
  }

  .nav-right{
    display: flex;
    justify-content: flex-end;
  }

  .a-default{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgba(48, 149, 184, 1);
    
  }

  .a-default:hover{
    text-decoration: none;
  }

  .login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    background-color: rgba(48, 149, 184, 1);
    color: white;
    padding: 6px 10px;
    font-size: 17px;
    float: right;
    cursor: pointer;
    border: none;
    font-family: inherit;
  }

  .login-btn:hover{
    color: black;
  }

  .topnav a:hover {
    background-color: rgba(48, 149, 184, 1);
    color: black;
  }

  .signup-btn {
    /* display: none;  // to hide button */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(74, 166, 230, 1);
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 17px;
    float: right;
    cursor: pointer;
    border: solid 1.5px white;
  }

  .profile-btn{
    display: none;
    background-color: rgba(0, 88, 169, 1);
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 17px;
    margin-top: 8px;
    float: right;
    cursor: pointer;
  }

.search-container {
    float: right;
    margin-right: 16px;
  }

.search-field{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: min-content;
}

.search-field-form{
  display: grid;
  margin: 0;
  padding: 0;
}

.search-field-input{
  display: flex;
  margin: 0;
  padding: 5px;
  grid-column: 1;
  grid-row: 1;
}
.search-field-icon{
  display: flex;
  grid-column: 1;
  grid-row: 1;
  color: black;
  justify-self: flex-end;
  align-self: center;
  margin: 0;
  padding: 0;
}


  .topnav input[type=text] {
    font-size: 17px;
    border: none;
    border-radius: 10px;
  }

  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    background: rgba(221, 221, 221, 1);
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }


  .placeholder:hover {
    background-color: rgba(221, 221, 221, 1);
    color: black;
  
  }

  img {
    width: 120px;
    float: left;
    padding: 2px 2px;
    margin: 2px 2px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown-content>a:hover{
    text-decoration:none;
  }

  .dropbtn {
    background-color: rgba(48, 149, 184, 1);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    overflow: overlay;
    overflow-x: overlay;
    overflow-y: overlay;
    float: none;
    display: none;
    position: fixed;
    background-color: #ddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }

  .dropdown-content a:hover {
    background-color: rgb(129, 116, 116);

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
  }

.sub-search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-search-container>div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.cart-btn{
    color: white;
    text-decoration: none;
}

.cart-btn:hover{
    color: goldenrod;
    background-color: rgba(48, 149, 184, 1);
}

.profile{
   float: right;
}

.like-amount{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  font-size: 70%;
  color: white;
  background-color: red;
  border-radius: 200%;
  width: 12px;
  height: 12px;
  z-index: 1;
}

.like-box{
  display: grid;
  margin-right: 1vh;
}

.like-link{
  text-decoration: none;
  background-color: rgba(48, 149, 184, 1);
}
.like-btn, .like-amount{
  grid-column: 1;
  grid-row: 1;
}

.like-btn{
  margin: 5px;
  color: white;
  font-size: 24px;
  cursor: pointer; 
  font-variation-settings: 
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

}



.like-btn:hover{
    color: goldenrod;
    background-color: rgba(48, 149, 184, 1);

}

.like-link:hover{
  text-decoration: none;
}



.like-btn:after{
      content:attr(value);
  }