@import url("stream.css");
@import url("header.css");
@import url("confirm-payment.css");
@import url("advanced-search.css");
@import url("profile-page.css");
@import url("editpage.css");
@import url("concert.css");
@import url("login.css");

@import url("default.css");
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    max-width: 100%;
}

