    .view_all {
        text-decoration: none;
        Color: rgba(48, 149, 184, 1);
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 20px;
        width: fit-content;
        flex-wrap: wrap;
    }

    .main-content-box {
        display: flex;
        flex-direction: column;

    }

    .main-content-page {
        width: fit-content;
        margin-left: 50px;
        margin-top: 20px
    }

    .main-content-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0;
        padding: 0;
    }

    .main-img-box {
        display: grid;
        width: 200px;
        height: 200px;
    }

    .main-img {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        width: 200px;
        height: 200px;
        padding: 0;
        margin: 0;
        border: 3px solid rgb(54, 113, 241);
    }

    .main-like-btn {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        background: transparent;
        border: none;
    }

    .main-like-btn:hover{
        text-decoration: none;
    }

    .main-like-btn>span {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-top: 5px;
        height: 200px;
        font-variation-settings:
            'FILL' 1,
            'wght' 700,
            'GRAD' 0,
            'opsz' 48;
            
    }

  
    .main-h1 {
        margin-top: 0;
        margin-bottom: 5px;
        color: rgba(74, 166, 230, 1);
    }

    .links {
        padding-left: 2.3em;
    }

    .artist-title {
        display: flex;
    }

    .child-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 5px 5px 5px;
        max-width: 200px;
    }

    .child-div-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
    }
    .child-div-div>p{
        margin: 0px;
        
    }

    .like_button {
        background: transparent;
        border: none;
        font-size: 25px;
        outline: none;
        color: rgb(255, 255, 255);
        padding: 0;
        margin-left: -50px;


    }

    .like-btn-1{
        color: white;
        text-decoration: none;
    }

    .like-btn-1:hover {
        cursor: pointer;
        color: rgb(255, 0, 0, 1 );
        text-decoration: none;

    }