*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    max-width: 100%;
}

#stream{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

#stream-h1{
    width: 50%;
}

#stream-video{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#stream-content{
    display: flex;
    flex-direction: row;
    /* for mobile view add:
    flex-direction: column;
    align-items: center;
    */
    justify-content: space-evenly;
}

#stream-link::before{
    content: attr(title) "";
    color: black;
}/* title="copy this link to invite a friend" */


#stream-link-pos{
    display: flex;
    margin-top: 3vh;
    padding: 0.5vh;
    justify-content: center;
}

#stream-artists{
    display: flex;
    flex-direction: column;
    padding: 0;
}
#stream-artists>a{
    padding-bottom: 0.5vh;
}

#stream-invited>ol{
    margin: 0;
    padding: 0.25vh 0.5vh 0.25vh 0.5vh;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

#stream-copy-btn{
    border: 1px solid black;
    border-radius: 1vh;
    margin-bottom: 1vh;
}
