@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body {
    margin: 0;
    height: 400vh;

  }

  * {
    box-sizing: border-box;
  }

  .box-color{
    border: 1px solid black;
  }

  .topnav {
    position:fixed;
    overflow: hidden;
    padding: 10px 20px;
    background-color: rgba(48, 149, 184, 1);
    width: 100%;
    
  }

  .nav-right{
    display: flex;
    justify-content: flex-end;
  }

  .a-default{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.a-nav-btn{
    margin: 0;
    padding: 0;
}

  #login-btn{
    float: right;
    background-color: rgba(48, 149, 184, 1);
    color: white;
    padding: 6px 10px;
    font-size: 17px;
    margin-top: 8px;
    float: right;
    cursor: pointer;
    border: none
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .signup-btn {
    /* display: none;  // to hide button */
    background-color: rgba(0, 88, 169, 1);
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 17px;
    margin-top: 8px;
    float: right;
    cursor: pointer;
  }

  #profile-btn{
    display: none;
    background-color: rgba(0, 88, 169, 1);
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 17px;
    margin-top: 8px;
    float: right;
    cursor: pointer;
  }

  .signup-btn:hover {
    background-color: #ddd;
    color: black;
  }

.search-container {
    float: right;
    margin-right: 16px;
  }

  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

  }

  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }


  .placeholder:hover {
    background-color: #ddd;
    color: black;
  }

  img {
    width: 120px;
    float: left;
    padding: 2px 2px;
    margin: 2px 2px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropbtn {
    background-color: rgba(48, 149, 184, 1);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    overflow: overlay;
    overflow-x: overlay;
    overflow-y: overlay;
    float: none;
    display: none;
    position: fixed;
    background-color: #ddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
     
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }

  .dropdown-content a:hover {
    background-color: red;

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
  }

#sub-search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sub-search-container>div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

  #like-btn{
    color: rgb(19, 230, 47);
    cursor: pointer;  
}

#cart-btn{
    color: white;
}

#cart-btn:hover{
    color: goldenrod;
    background-color: rgba(48, 149, 184, 1);
}

#like-btn:hover{
    color: goldenrod;
    background-color: rgba(48, 149, 184, 1);
}

#like-icon:after{
      content:attr(value);
      font-size:12px;
      color: #fff;
      background: red;
      border-radius:50%;
      padding: 0 5px;
      position:relative;
      left:-8px;
      top:-10px;
      opacity:0.9;
  }


  .profile{
   float: right;
  }


  